<div class="cv-container">
    <h1>CURRICULUM VITAE</h1>

    <div class="grid-layout">
        
        <div class="sidebar">

            <img src="{{ url_for('static', filename='img/moi.jpg') }}" alt="Ma photo" class="profile-img" id="myImg">

            <div class="section contact-info" style="animation-delay: 1.0s;">
                <h2>Détails de Contact</h2>
                </div>
            
            <div class="section" style="animation-delay: 1.6s;">
                <h2>Compétences Techniques</h2>
                </div>
            
            <div class="section" style="animation-delay: 2.2s;">
                <h2>Compétences Linguistiques</h2>
                </div>

            <div class="section" style="animation-delay: 2.8s;">
                <p class="final-statement">Je certifie exactes les informations ci-dessus mentionnées.</p>
            </div>
            
        </div>
        
        <div class="main-details">
            
            <div class="section" style="animation-delay: 1.3s;">
                <h2>ÉTUDES UNIVERSITAIRES</h2>
                </div>

            <div class="section" style="animation-delay: 1.9s;">
                <h2>STAGES ET FORMATIONS PROFESSIONNELLES</h2>
                </div>
            
            <div class="section" style="animation-delay: 2.5s;">
                <h2>ÉTUDES PRIMAIRES ET SECONDAIRES</h2>
                </div>

            <div class="section contact-form" style="animation-delay: 3.1s;">
                <h2>CONTACTEZ-MOI</h2>
                </div>

        </div>
        
    </div>
    
    </div>git add .
